@font-face {
    font-family: "SpartanMB";
    src: url("/fonts/SpartanMB-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SpartanMB";
    src: url("/fonts/SpartanMB-SemiBold.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SpartanMB";
    src: url("/fonts/SpartanMB-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-size: 15px;    
    font-family: "SpartanMB";
}

.main-header-size {
    font-size: 42px;
}

.fw-regular-font {
    font-weight: 400;
}

.fw-medium-font {
    font-weight: 500;
}

.fw-bold-font {
    font-weight: 700;
}